:root {
    --hue: 206;
    --sat: 14%;
    --light: hsl(var(--hue), var(--sat), 90%);
    --medium: hsl(var(--hue), var(--sat), 50%);
    --dark: hsl(var(--hue), var(--sat), 38%);
    --shadowColor: hsla(var(--hue), var(--sat), 38%, .1);
    --textShadowColor: hsla(var(--hue), var(--sat), 38%, .3);
    --buttonColor: var(--dark);
    --spacing: 20px;
    --borderRadius: calc(var(--spacing) / 4);
}

* {
    box-sizing: border-box;
}

.page {
    min-height: 100vh;
    display: grid;
    column-gap: var(--spacing);
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
        "head"
        "links"
        "sidebar"
        "cards"
        "foot"
    ;
}

nav {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: var(--spacing);
    background-color: var(--dark);
    background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,0) 15%);
    padding: var(--spacing);
    justify-content: space-around;
}

header {
    grid-area: head;
    padding: var(--spacing);
    background-color: var(--medium);
    display: grid;
    grid-template-columns: 200px;
    grid-gap: var(--spacing);
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0 2px 3px var(--textShadowColor);
    background-image:
        linear-gradient(-15deg, rgba(0,0,0,.1) 15%, rgba(0,0,0,.4)),
        linear-gradient(3deg, rgba(255,255,255,.1), rgba(255,255,255,0) 20%)
    ;
}

header img {
    filter: drop-shadow(0 2px 3px var(--dark));
}

footer {
    grid-area: foot;
}

aside {
    margin: var(--spacing);
    background-color: var(--dark);
    grid-area: sidebar;
    align-self: start;
    padding: var(--spacing);
}

aside h3 {
    font-weight: lighter;
}

article {
    margin: 0 var(--spacing) var(--spacing);
    display: grid;
    grid-area: cards;
    grid-gap: var(--spacing);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-self: start;
}

header, footer, aside, nav, .card {
    transition: background-color 3s ease-in-out;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--light);
    padding: var(--spacing);
}

.card button {
    margin-top: .5em;
    justify-self: end;
    background-color: transparent;
    color: var(--buttonColor);
    font-size: .9em;
    border-radius: 2em;
    padding: .5em 2em;
    border: 2px solid var(--buttonColor);
    cursor: pointer;
    transition: border 3s ease-in-out;
    float: right;
}

.card button:hover {
    background-color: var(--buttonColor);
    color: var(--light);
}

.card:first-child {
    font-size: 1.1em;
    background-color: transparent;
    border: 2px solid var(--light);
}

.card:first-child h4 {
    font-size: 2em;
    font-weight: lighter;
}

.card:first-child button {
    color: var(--light);
    transition: background-color 3s ease-in-out;
    background-color: var(--buttonColor);
}

aside, .card {
    border-radius: var(--borderRadius);
    box-shadow: 0 2px 10px var(--shadowColor);
}

p {
    line-height: 1.6;
}

footer {
    background-color: var(--dark);
    padding: var(--spacing);
    color: white;
}

@media screen and (min-width: 550px) {
    header {
        grid-template-columns: 200px 1fr;
        text-align: left;
    }

    :root {
        --hue: 490;
    }
}


@media screen and (min-width: 650px) {
    .card:first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    :root {
        --hue: -100;
    }
}

@media screen and (min-width: 1000px) {
    .page {
        grid-template-columns: 300px 1fr;
        grid-template-areas:
            "head    head"
            "links   links"
            "sidebar cards"
            ".       cards"
            "foot    foot"
        ;
    }

    .card:last-child {
        grid-column-end: span 2;
    }

    article {
        margin-left: 0;
        margin-top: var(--spacing);
    }

    aside {
        margin-right: 0;
        position: sticky;
        top: var(--spacing);
    }

    :root {
        --hue: 550;
    };
}
