body {
    color: hsl(0,0%,30%);
    margin: 0;
}

* {
    font-family: sans-serif;
    line-height: 1;
}

h1, h2, h3 {
    font-weight: normal;
    color: hsl(0,0%,90%);
    margin: 0;
}

h2 {
    font-weight: lighter;
    font-size: 18px;
    font-style: italic;
}

h3 {
    font-weight: bold;
}

a {
    color: white;
}

.sidebar {
    color: white;
}